<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newTodo"> <!-- 입력 완료 -->
    <button v-on:click="addTodo">+</button> <!-- 버튼을 누를 때 입력 -->
    <li v-for="todo in todos" v-bind:key="todo.id">
      <span>{{ todo.content }}</span>
      <button v-on:click="removeTodo(todo.id)">x</button> <!-- 삭제 버튼 -->
    </li>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos: [],
        newTodo: '',
      },
      methods: {
        addTodo: function () {
          if (this.newTodo.length != 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              completed: false,
            })
            this.newTodo = '' // 삽입을 하고 나면 다시 빈문자열로
          }
        },
        removeTodo: function (todoId) {
          this.todos = this.todos.filter( todo => { // 필터로 걸러낸 것들을 인자로 받기
            // 완료한 todo
            // 완료된 todo를 제외한 나머지 todo만 filter를 통해서
            // 새로운 배열로 return
            return todo.id !== todoId
          })
        }
      }
    })
  </script>
</body>
</html>