<div class="jumbotron text-center">
  <h1 class="display-4">{{ person.username }}</h1> <!-- article.user도 가능 -->
  {% with followigns=person.followings.all followers=person.followers.all %}
  <p class="lead">
    팔로잉 : {{ followings|length }} <br>
    팔로워 : {{ followers|length }}
  </p>
  <hr class="my-4">
  <!-- 본인은 follow 버튼을 볼 수 없다. 자기자신을 follow 불가능 -->
  {% if user != article.user %}
    <!-- 유저가 상대방 팔로워 목록에 없다면 -->
    {% if user in followers %}
    <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">Unfollow</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">Follow</a>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>